In [1]:
import pandas as pd

•	Generar un DataFrame con los datos del fichero.

In [2]:
df = pd.read_csv("supermarket_sales.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

•	Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 7 primeras filas y las 7 últimas filas

In [3]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [5]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [6]:
df.head(7)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8

In [7]:
df.tail(7)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
993,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,8.7450,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

•	¿Cuántas filas y columnas hay en el conjunto de datos?

In [8]:
df.shape

(1000, 17)

•	¿Conoce los tipos de datos de cada característica/variable y si tienen valores nulos?

In [9]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

•	Cambie el tipo de datos de fecha a “date” y configure “Date” como el índice del dataframe

In [10]:
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)

In [11]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,,,,,,,,,
2019-01-05,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2019-03-08,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6
2019-03-03,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
2019-01-27,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
2019-02-08,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3

•	Muestre las estadísticas descriptivas del dataset. Observa a detalle las estadísticas e identifica si existen diferencias altas entre cada percentil y en los percentiles extremos con valores máximos y mínimos de cada característica/variable.

In [12]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

•	¿Cuántas transacciones se realizaron utilizando 'Ewallet' como método de pago?

In [16]:
df[df['Payment']== 'Ewallet'].value_counts().shape[0]

345

•	¿Cuál es el producto más vendido (con la cantidad más alta) en una sola transacción?

In [37]:
df.groupby('Product line')['Quantity'].max().head(1)

Product line
Electronic accessories    10
Name: Quantity, dtype: int64

•	¿Cuál es la cantidad de la segunda transacción más reciente?

In [6]:
# •	¿Cuál es la cantidad de la segunda transacción más reciente
df.groupby('Date')['Quantity'].max().tail(-1)

Date
1/10/2019     9
1/11/2019     9
1/12/2019    10
1/13/2019    10
1/14/2019    10
             ..
3/5/2019     10
3/6/2019     10
3/7/2019      9
3/8/2019     10
3/9/2019     10
Name: Quantity, Length: 88, dtype: int64

•	¿Cuál es el valor de 'Gross Income' para las transacciones con un rating superior a 9 y que sean pagadas con Ewallet?

In [97]:

df[(df['Rating'] > 9) & (df['Payment'] == 'Ewallet')]['gross income']

Date
2019-01-05    26.1415
2019-02-17     8.6400
2019-02-03    24.7815
2019-01-07    29.2830
2019-01-22    33.6015
2019-03-23     7.9125
2019-03-16    29.0000
2019-02-10    15.0700
2019-02-07     4.9440
2019-03-07    12.5700
2019-03-27    28.0170
2019-01-28    13.0200
2019-02-10     3.7035
2019-01-31     7.4120
2019-02-05     6.9330
2019-02-15     4.5780
2019-01-30    24.2575
2019-02-06    19.3960
2019-01-06    10.2350
2019-01-27    24.3315
2019-02-04     0.6990
2019-02-22     9.9375
2019-03-22    20.3720
2019-01-22     4.0755
2019-01-20    16.5860
2019-01-08     0.6390
2019-02-04    34.9560
2019-01-05     1.5950
2019-01-28     9.6720
2019-01-27    18.9980
2019-03-29    13.7150
2019-03-01     3.4730
2019-01-22     4.6020
2019-01-27     8.4840
2019-03-24     7.0320
2019-01-11    14.5500
2019-02-07    24.1640
2019-01-20     6.2480
2019-02-08     0.9850
2019-02-20     3.7690
2019-01-20    25.5520
2019-01-17    20.6185
2019-02-11    21.6725
2019-01-19    13.5520
2019-02-14     4.5650
2019-01-27     3.6630
2019-02-19     9.8480
2019-02-25    26.3950
2019-01-06    12.9180
2019-03-13     2.8250
2019-03-23    36.7350
2019-01-03    18.9450
2019-02-21     5.9865
Name: gross income, dtype: float64

•	¿Cuál es el promedio del impuesto del 5% (Tax 5%) para las transacciones realizadas en Naypyitaw?

In [98]:
df.query('City == "Naypyitaw"')['Tax 5%'].mean()

16.05236737804878

In [100]:
df[df['City'] == 'Naypyitaw']['Tax 5%'].mean()

16.05236737804878

•	¿Cuál es la cantidad total de ingresos (Total) para las transacciones realizadas por clientes de tipo 'Member' y que sean de la categoría 'Health and Beauty'?

In [117]:
df[(df['Customer type'] == 'Member') & (df['Product line']=='Health and beauty')]['Total'].sum()

25831.0395

•	Seleccionar las transacciones donde la cantidad (Quantity) es mayor que 5 y el total (Total) es mayor que 200

In [3]:
df[df['Quantity'] >5][df['Total']>200].sort_values(by='Quantity',ascending=True)

/var/folders/03/fv0q_y693gq6wh4vl8097rqh0000gn/T/ipykernel_88276/2869709350.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Quantity'] >5][df['Total']>200].sort_values(by='Quantity',ascending=True)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
133,590-83-4591,B,Mandalay,Member,Male,Electronic accessories,87.45,6,26.235,550.935,2/17/2019,14:40,Credit card,524.70,4.761905,26.235,8.8
549,213-32-1216,A,Yangon,Normal,Female,Electronic accessories,66.06,6,19.818,416.178,1/23/2019,10:28,Cash,396.36,4.761905,19.818,7.3
558,712-39-0363,A,Yangon,Member,Male,Food and beverages,41.66,6,12.498,262.458,1/2/2019,15:24,Ewallet,249.96,4.761905,12.498,5.6
563,760-90-2357,A,Yangon,Member,Male,Electronic accessories,74.51,6,22.353,469.413,3/20/2019,15:08,Ewallet,447.06,4.761905,22.353,5.0
159,423-57-2993,B,Mandalay,Normal,Male,Sports and travel,93.39,6,28.017,588.357,3/27/2019,19:18,Ewallet,560.34,4.761905,28.017,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,188-55-0967,B,Mandalay,Member,Male,Health and beauty,66.47,10,33.235,697.935,1/15/2019,15:01,Credit card,664.70,4.761905,33.235,5.0
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.250,950.250,1/25/2019,13:48,Cash,905.00,4.761905,45.250,8.1
140,731-81-9469,C,Naypyitaw,Member,Female,Sports and travel,89.80,10,44.900,942.900,1/23/2019,13:00,Credit card,898.00,4.761905,44.900,5.4
146,685-64-1609,A,Yangon,Member,Female,Fashion accessories,30.14,10,15.070,316.470,2/10/2019,12:28,Ewallet,301.40,4.761905,15.070,9.2
138,241-72-9525,B,Mandalay,Normal,Male,Sports and travel,51.91,10,25.955,545.055,2/16/2019,12:21,Cash,519.10,4.761905,25.955,8.2

•	Seleccionar las primeras diez filas y columnas de la 2 a la 6

In [14]:
df.iloc[:10,0:6]

    Invoice ID Branch       City Customer type  Gender            Product line
0  750-67-8428      A     Yangon        Member    Male       Health and beauty
1  226-31-3081      C  Naypyitaw        Normal  Female  Electronic accessories
2  631-41-3108      A     Yangon        Normal    Male      Home and lifestyle
3  123-19-1176      A     Yangon        Member    Male       Health and beauty
4  373-73-7910      A     Yangon        Normal    Male       Sports and travel
5  699-14-3026      C  Naypyitaw        Normal    Male  Electronic accessories
6  355-53-5943      A     Yangon        Member  Female  Electronic accessories
7  315-22-5665      C  Naypyitaw        Normal  Female      Home and lifestyle
8  665-32-9167      A     Yangon        Member  Female       Health and beauty
9  692-92-5582      B   Mandalay        Member  Female      Food and beverages

In [12]:
# •	Cambio de 'Gender' a 'Female' en la fila con 'Invoice ID' igual a '750-67-8428'. 
df.loc[df['Invoice ID'] == '750-67-8428', 'Gender'] = 'Female'
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

•	Seleccionar filas con fecha posterior al 15 de febrero de 2019 y Customer type igual a "Member"

In [17]:
df[df['Date']>'2/15/2019']

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

18.	Eliminar las columnas Time y Payment

In [18]:
df_copy = df

In [22]:
df_copy.drop(['Time', 'Payment'], axis=1, inplace=True)
df_copy.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,604.17,4.761905,30.2085,5.3

19.	Borrar la fila con 'Invoice ID' igual a '226-31-3081'

In [23]:
df_copy.drop(df_copy[df_copy['Invoice ID'] == '226-31-3081'].index, inplace=True)
df_copy.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,597.73,4.761905,29.8865,4.1

20.	Aumentar el 'Unit price' en un 10% si el 'Gender' es 'Female'

In [47]:
df_copy.loc[df_copy['Gender'] == 'Female', 'Unit price'] *= 1.10
df_copy[df_copy['Gender'] == 'Female']

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,216.049409,6,20.6520,433.6920,2/25/2019,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,230.862791,10,36.7800,772.3800,2/24/2019,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,113.799413,2,3.6260,76.1460,1/10/2019,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,172.111412,3,8.2260,172.7460,2/20/2019,164.52,4.761905,8.2260,5.9
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,45.444443,4,2.8960,60.8160,2/6/2019,57.92,4.761905,2.8960,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,177.509509,5,14.1400,296.9400,3/22/2019,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,240.403614,10,38.3000,804.3000,1/24/2019,766.00,4.761905,38.3000,6.0
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,191.287210,1,3.0475,63.9975,2/18/2019,60.95,4.761905,3.0475,5.9
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,305.620155,10,48.6900,1022.4900,3/2/2019,973.80,4.761905,48.6900,4.4
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,277.248763,7,30.9190,649.2990,2/18/2019,618.38,4.761905,30.9190,6.6

21.	borrar las filas con 'Quantity' igual a 1

In [53]:
df_copy.drop(df_copy[df_copy['Quantity'] == 1].index, inplace=True)
df_copy.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,597.73,4.761905,29.8865,4.1

22.	Renombrar 'cogs' a 'COGS' y 'gross income' a 'Gross Income'

In [ ]:
# 22.	Renombrar 'cogs' a 'COGS' y 'gross income' a 'Gross Income'
df_copy.rename(columns={'cogs': 'COGS', 'gross income': 'Gross Income'}, inplace=True)
df_copy.head()

23.	Verificar si hay datos nulos en el dataframe, contarlos y darle su debido tratamiento

In [54]:
# 23.	Verificar si hay datos nulos en el dataframe, contarlos y darle su debido tratamiento 
df_copy.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [56]:
df_copy.dropna(inplace=True)

In [57]:
df_copy.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

24.	Convertir todos los valores de Product line a minúsculas

In [69]:
df_copy['Product line'] = df_copy['Product line'].str.lower()
df_copy.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,health and beauty,74.69,7,26.1415,548.9715,1/5/2019,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,health and beauty,58.22,8,23.2880,489.0480,1/27/2019,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,sports and travel,86.31,7,30.2085,634.3785,2/8/2019,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,597.73,4.761905,29.8865,4.1

25.	Mostrar las filas donde Product line es “Health and beauty” y Quantity mayor a 5

In [72]:
df_copy[df_copy['Product line']=='health and beauty'][df_copy['Quantity']>5]

/var/folders/03/fv0q_y693gq6wh4vl8097rqh0000gn/T/ipykernel_4412/2535216087.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_copy[df_copy['Product line']=='health and beauty'][df_copy['Quantity']>5]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Male,health and beauty,74.690000,7,26.1415,548.9715,1/5/2019,522.83,4.761905,26.1415,9.1
3,123-19-1176,A,Yangon,Member,Male,health and beauty,58.220000,8,23.2880,489.0480,1/27/2019,465.76,4.761905,23.2880,8.4
14,829-34-3910,A,Yangon,Normal,Female,health and beauty,224.021018,10,35.6900,749.4900,3/29/2019,713.80,4.761905,35.6900,5.7
16,656-95-9349,A,Yangon,Member,Female,health and beauty,216.331868,7,24.1255,506.6355,3/11/2019,482.51,4.761905,24.1255,4.6
29,848-62-7243,A,Yangon,Normal,Male,health and beauty,24.890000,9,11.2005,235.2105,3/15/2019,224.01,4.761905,11.2005,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,433-08-7822,C,Naypyitaw,Normal,Female,health and beauty,247.590615,7,27.6115,579.8415,1/5/2019,552.23,4.761905,27.6115,7.5
944,333-23-2632,A,Yangon,Member,Male,health and beauty,10.080000,7,3.5280,74.0880,3/28/2019,70.56,4.761905,3.5280,4.2
983,148-41-7930,C,Naypyitaw,Normal,Male,health and beauty,99.960000,7,34.9860,734.7060,1/23/2019,699.72,4.761905,34.9860,6.1
987,552-44-5977,B,Mandalay,Member,Male,health and beauty,62.000000,8,24.8000,520.8000,1/3/2019,496.00,4.761905,24.8000,6.2
989,430-53-4718,B,Mandalay,Member,Male,health and beauty,75.370000,8,30.1480,633.1080,1/28/2019,602.96,4.761905,30.1480,8.4

26.	Mostrar las filas donde Total es menor a 100 y Branch es A o B

In [73]:
# 26.	Mostrar las filas donde Total es menor a 100 y Branch es A o B
df_copy[(df_copy['Total']<100) & (df_copy['Branch']=='A') | (df_copy['Branch']=='B')].sort_values(by='Total',ascending=True)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
273,633-91-1052,A,Yangon,Normal,Female,home and lifestyle,37.755293,2,1.2030,25.2630,1/27/2019,24.06,4.761905,1.2030,5.1
861,840-76-5966,A,Yangon,Member,Male,sports and travel,12.760000,2,1.2760,26.7960,1/8/2019,25.52,4.761905,1.2760,7.8
986,764-44-8999,B,Mandalay,Normal,Female,health and beauty,46.323203,2,1.4760,30.9960,2/18/2019,29.52,4.761905,1.4760,4.3
231,545-46-3100,B,Mandalay,Member,Female,electronic accessories,33.235957,3,1.5885,33.3585,3/12/2019,31.77,4.761905,1.5885,8.7
54,242-55-6721,B,Mandalay,Normal,Male,home and lifestyle,16.160000,2,1.6160,33.9360,3/7/2019,32.32,4.761905,1.6160,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,766-85-7061,B,Mandalay,Normal,Male,health and beauty,87.870000,10,43.9350,922.6350,3/29/2019,878.70,4.761905,43.9350,5.1
209,817-69-8206,B,Mandalay,Normal,Female,electronic accessories,312.995462,9,44.8785,942.4485,3/2/2019,897.57,4.761905,44.8785,6.5
122,219-22-9386,B,Mandalay,Member,Male,sports and travel,99.960000,9,44.9820,944.6220,3/9/2019,899.64,4.761905,44.9820,4.2
792,744-16-7898,B,Mandalay,Normal,Female,home and lifestyle,305.588771,10,48.6850,1022.3850,1/15/2019,973.70,4.761905,48.6850,4.9
996,303-96-2227,B,Mandalay,Normal,Female,home and lifestyle,305.620155,10,48.6900,1022.4900,3/2/2019,973.80,4.761905,48.6900,4.4

27.	Mostrar las filas donde Payment no es Ewallet y Rating menor o igual a 6

In [77]:
# 27.	Mostrar las filas donde Payment no es Ewallet y Rating menor o igual a 6
df[(df['Payment']!='Ewallet') & (df['Rating']<=6)].sort_values(by='Rating',ascending=True)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
876,885-56-0389,C,Naypyitaw,Member,Male,Fashion accessories,52.35,1,2.6175,54.9675,2/12/2019,17:49,Cash,52.35,4.761905,2.6175,4.0
643,131-15-8856,C,Naypyitaw,Member,Female,Food and beverages,72.52,8,29.0080,609.1680,3/30/2019,19:26,Credit card,580.16,4.761905,29.0080,4.0
618,828-46-6863,A,Yangon,Member,Male,Food and beverages,98.53,6,29.5590,620.7390,1/23/2019,11:22,Credit card,591.18,4.761905,29.5590,4.0
790,651-96-5970,A,Yangon,Normal,Male,Fashion accessories,46.41,1,2.3205,48.7305,3/3/2019,20:06,Credit card,46.41,4.761905,2.3205,4.0
328,730-61-8757,B,Mandalay,Member,Male,Health and beauty,51.13,4,10.2260,214.7460,1/25/2019,10:11,Credit card,204.52,4.761905,10.2260,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,468-88-0009,A,Yangon,Member,Male,Home and lifestyle,65.94,4,13.1880,276.9480,3/24/2019,10:29,Cash,263.76,4.761905,13.1880,6.0
841,291-59-1384,B,Mandalay,Normal,Male,Electronic accessories,60.30,1,3.0150,63.3150,2/28/2019,17:38,Cash,60.30,4.761905,3.0150,6.0
677,274-05-5470,A,Yangon,Member,Female,Food and beverages,73.47,4,14.6940,308.5740,2/23/2019,18:30,Cash,293.88,4.761905,14.6940,6.0
483,305-18-3552,B,Mandalay,Member,Male,Home and lifestyle,60.38,10,30.1900,633.9900,2/12/2019,16:19,Cash,603.80,4.761905,30.1900,6.0
79,756-01-7507,C,Naypyitaw,Normal,Female,Health and beauty,20.38,5,5.0950,106.9950,1/22/2019,18:56,Cash,101.90,4.761905,5.0950,6.0

28.	Mostrar las filas donde Customer type es Normal y Tax 5% mayor a 10

In [85]:
df[(df['Customer type']=='Normal') & (df['Tax 5%']>10)]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
12,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.7295,708.3195,1/9/2019,11:40,Cash,674.59,4.761905,33.7295,6.0
985,374-38-5555,B,Mandalay,Normal,Female,Fashion accessories,63.71,5,15.9275,334.4775,2/7/2019,19:30,Ewallet,318.55,4.761905,15.9275,8.5
990,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4

29.	Mostrar las filas donde fecha anterior al 1 de marzo de 2019 y Payment Cash

In [87]:
df[(df['Date']<'3/1/2019') & (df['Payment']=='Cash')]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,16:19,Cash,562.32,4.761905,28.1160,4.5
26,649-29-6775,B,Mandalay,Normal,Male,Fashion accessories,33.52,1,1.6760,35.1960,2/8/2019,15:31,Cash,33.52,4.761905,1.6760,6.7
28,145-94-9061,B,Mandalay,Normal,Female,Food and beverages,88.36,5,22.0900,463.8900,1/25/2019,19:48,Cash,441.80,4.761905,22.0900,9.6
31,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,12:43,Cash,702.63,4.761905,35.1315,4.5
32,640-49-2076,B,Mandalay,Normal,Male,Sports and travel,83.78,8,33.5120,703.7520,1/10/2019,14:49,Cash,670.24,4.761905,33.5120,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
984,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.7295,708.3195,1/9/2019,11:40,Cash,674.59,4.761905,33.7295,6.0
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

30.	Mostrar las filas donde año de la fecha es 2019 y mes diciembre (mes 12)

In [88]:
df['Date'] = pd.to_datetime(df['Date'])

In [90]:
df[(df['Date'].dt.year == 2019)&(df['Date'].dt.month == 12)]

Empty DataFrame
Columns: [Invoice ID, Branch, City, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, cogs, gross margin percentage, gross income, Rating]
Index: []

31.	Convierte todos los valores de "Product line" a mayúsculas.

In [100]:
df['Product line']=df['Product line'].str.upper()
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,HEALTH AND BEAUTY,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,ELECTRONIC ACCESSORIES,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,HOME AND LIFESTYLE,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,HEALTH AND BEAUTY,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,SPORTS AND TRAVEL,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3

32.	Agrega un guion "-" al final de cada valor de "Branch".

In [108]:
df['Branch'] = df['Branch'].apply(lambda x: x + '-')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A-,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C-,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A-,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A-,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A-,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C-,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B-,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A-,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A-,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A-,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

33.	Elimina los espacios en blanco al principio y al final de cada valor de "Customer type".

In [110]:
df['Customer type'] = df['Customer type'].str.strip()
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A-,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C-,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A-,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A-,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A-,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

34.	Concatena las columnas "City" y "Branch

In [116]:
City = df['City']
branch = df['Branch']
df['City-Branch'] = City + '-' + branch
df['City-Branch']

0         Yangon-A-
1      Naypyitaw-C-
2         Yangon-A-
3         Yangon-A-
4         Yangon-A-
           ...
995    Naypyitaw-C-
996     Mandalay-B-
997       Yangon-A-
998       Yangon-A-
999       Yangon-A-
Name: City-Branch, Length: 1000, dtype: object